{% extends "layout.html" %}


{% block title %}
    Apology
{% endblock %}


{% block style %}

    <style>
        .table thead th{
            border-bottom-color: currentColor;
            border-top: none;
        }

    </style>

{% endblock %}


{% block main %}

    <table class="table tablestriped">

        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>

        <tbody>

            {% for stock in assets %}
                <tr>
                    <td class="text-start">{{ stock["symbol"] }}</td>
                    <td class="text-start">{{ stock["name"] }}</td>
                    <td class="text-end">{{ stock["SUM(shares)"]}}</td>
                    <td class="text-end">{{ stock["price"] | usd }}</td>
                    <td class="text-end">{{ stock["SUM(total)"] | usd }}</td>
                </tr>
            {% endfor %}

        </tbody>

        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total | usd }}</td>
            </tr>
        </tfoot>

    </table>

{% endblock %}
